.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

canvas {
    max-width: 700px;
    max-height: 400px;
    margin-bottom: 40px;
}

#myChart1 {
    position: relative;
    left: 800px;
    bottom: 400px;
}

#myChart2 {
    position: relative;
    bottom: 400px;
}

#myChart3 {
    position: relative;
    left: 800px;
    bottom: 800px;
}
